@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    color: #151515;
    background: #daf6ff;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #8e8e90 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background: none;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #8e8e90;
    border-radius: 14px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    height: 100%;
    position: relative;
}

html {
    text-transform: uppercase;
}

body {
    color: #ffffff;
    background: #212121;
}

.full-height {
    min-height: calc(100vh - 80px);
    min-height: calc(100svh - 80px);
}

.custom_img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    overflow: hidden;
    background-color: black;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(0deg);
    }
    85% {
        transform: rotate(10deg);
    }
    95% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.wiggle-anim {
    transform-origin: center;
    animation: wiggle 2.5s infinite;
}

.md h1,
.md h2,
.md h4,
.md h5,
.md h6 {
    font-weight: 500;
    text-transform: uppercase;
}

.md h1 {
    font-size: 2rem;
}

.md h2 {
    font-size: 1.5rem;
}

.md h3 {
    font-size: 1rem;
}

.md code {
    display: inline;
    max-width: max-content;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.5em;
}

.md pre code {
    display: block;
    background-color: rgba(21, 21, 21, 0.33);
    padding: 1.5rem;
    border-radius: 1rem;
}

.md blockquote {
    position: relative;
    line-height: 1em;
}

.md blockquote p {
    padding-left: 1.5rem;
    color: #daf6ff;
    font-weight: 500;
    font-size: 1.5rem;
}

.md blockquote::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 4px;
    background-color: #daf6ff;
    border-radius: 1rem;
}

.md ul {
    font-size: 0rem;
}

.md ul li {
    margin-left: 1.5rem;
    font-size: 1rem;
    line-height: 1em;
    position: relative;
}

.md ul li::before {
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    position: absolute;
    border-radius: 50%;
    left: -1.5rem;
    top: 1.25em;
    background-color: #daf6ff;
}

.md ol {
    counter-reset: my-awesome-counter;
}

.md ol li {
    counter-increment: my-awesome-counter;
}

.md ol li::before {
    content: counter(my-awesome-counter) ". ";
    color: #daf6ff;
    font-weight: 500;
}
